mixin product-grid(products)
    div(class="row")
        each item in products
            div(class="col-4 mb-3")
                div(class="product-item")
                    a(href=`product/detail/${item.slug}`)
                        div(class="product-img")
                            img(
                                src=item.thumbnail 
                                alt=item.title 
                                width='300px'
                            )

                        div(class="inner-content")
                            h2(class="inner-title sadfsdf") #{item.title}
                            p(class="inner-price-new") #{item.priceNew}$
                            p(class="inner-price-old") #{item.price}$
                            span(class="inner-discount") #{item.discountPercentage}%