extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    div(class="container my-5")
        div(class="row justify-content-center")
            div(class="col-8")
                h1(class="text-center") Đổi mật khẩu
                form(
                    action="/user/password/reset"
                    method="POST"
                )

                    div(class="form-group")
                        label(for="password") Nhập mật khẩu mới
                        input(
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                        )

                    div(class="form-group")
                        label(for="confirmPassword") Xác nhận mật khẩu
                        input(
                            type="password"
                            id="confirmPassword"
                            name="confirmPassword"
                            class="form-control"
                        )

                    div(class="form-group")
                        button(type="submit" class="btn btn-primary form-control") Đăng nhập

        